body {
	background-image: url('../img/bg.png');
}

.shadowed {
	box-shadow: 5px 5px 5px #222;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#map {
	width: 320px;
	height: 240px;
}

.boxed-public:after {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Public data";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}

.boxed-public {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	margin: 15px 0;
	padding: 39px 19px 14px;
	position: relative;
}

.boxed-private:after {
	background-color: #f54d4d;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #FFFFFF;
	content: "Private data";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}

.boxed-private {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	margin: 15px 0;
	padding: 39px 19px 14px;
	position: relative;
}