body {
	background-color: #e95d0f;
}

.shadowed {
	box-shadow: 5px 5px 5px #222;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#map {
	width: 100%;
	height: 240px;
}


.boxed {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 2px 2px 2px #888;
	padding:5px;
	position: relative;
}

.boxed-public {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 2px 2px 2px #888;
	padding:5px;
	position: relative;
}

.boxed-public:after {
	background-color: #F5F5F5;
	border: 1px solid #DDDDDD;
	border-radius: 0 0 4px 0;
	color: #9DA0A4;
	content: "Public data";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}

.boxed-private {
	background-color: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 2px 2px 2px #888;
	padding:5px;
	position: relative;
}

.boxed-private:after {
	background-color: #f54d4d;
	border: 1px solid #DDDDDD;
	border-radius: 4px 0 4px 0;
	color: #FFFFFF;
	content: "Private data";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}

.carousel .item > img {
    display: block;
    line-height: 1;
    margin: 0 auto;
}
